# Python virtual environment
env/

# PyCharm meta files
.idea/

# Python cache files
__pycache__/

# Project configuration files
config/

# Databases and migrations
*.sqlite3
**/migrations/

# TODO files
*.todo

